# 设置CSS文件的MIME类型
AddType text/css .css

# 启用压缩
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/javascript
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE text/html
</IfModule>

# 设置缓存
<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
</IfModule>

# 确保文件可以被访问
<Files "*.css">
    Order allow,deny
    Allow from all
</Files>

<Files "*.js">
    Order allow,deny
    Allow from all
</Files>